/** 
 + -------------------------- +
 + reservation.css v3.0
 + Web: http://www.keruyun.com
 + -------------------------- +
 + Author: Tian Xiao Yun
 + QQ: 358926040
 + Mail: misstian2008@163.com
 + -------------------------- +
 + Date: 2014-10
 + -------------------------- +
**/

.tabScroll-wrap{
	position:relative;
	overflow:hidden;
	}
.tabScroll-inner{
	position:absolute;
	left:0;
	top:0;
	}
/*.switching-tabScroll{
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
	zoom:1;
	}

.switching-tabScroll > li{
	float:left;
	display:inline-block;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#f7f7f7;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	cursor:pointer;
	}
.switching-tab > li:last-child{
	border-right:1px solid #ddd;
	}
.switching-tab > li.current{
	height:41px;
	background-color:#fff;
	}
.switching-tab-wrap > .switching-tab{
	left:0;
	top:-1px;
	}
.switching-tab-wrap > .switching-tab > li{
	border-top:0 none;
	}
.switching-tab-wrap > .switching-tab > li:first-child{
	border-left:1px solid #ddd;
	}*/
.tabScroll-wrap .next,
.tabScroll-wrap .prev{
	position:absolute;
	top:0;
	z-index:10;
	display:inline-block;
	width:20px;
	height:41px;
	cursor:pointer;
	background:#fff url("../img/nextprev.png") no-repeat;
	border:1px solid #ddd;
	}
.tabScroll-wrap .next{
	right:0;
	background-position:-25px 15px;
	}
.tabScroll-wrap .next[data-status="disabled"]{
	background-position:-25px -24px;
	background-color:#e3e3e3;
	}
.tabScroll-wrap .prev{
	left:0;
	background-position:4px 15px;
	}
.tabScroll-wrap .prev[data-status="disabled"]{
	background-position:4px -24px;
	background-color:#e3e3e3;
	}
/*.switching-item .switching-con{
	display:none;
	height:340px;
	padding:20px 30px;
	border:1px solid #ddd;
	overflow:auto;
	}
.switching-item .switching-con.current{display:block;}
#switchBooking .switching-tab > li,
#queue-details .switching-tab > li,
#switchQueue .switching-tab > li{
	width:232px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
#switchQueue .switching-tab > li{
	width:178px;
}
#queue-details .switching-tab > li{
	padding:0 15px;
}
#switchQueue{width:712px;}
#queue-details .switching-con{
	min-height:300px;
}
.tables-items > li{
	display:inline-block;
	width:33%;
	overflow:hidden;
	}
.tables-items > li label{
	display:inline-block;
	width:100%;
	}
.tables-items > li i{
	display:inline-block;
	width:80%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	vertical-align:middle;
	}
.additem-wrap{
	position:relative;
	}
.additem-wrap .icon-plus{
	position: absolute;
	left: 630px;
	top: 3px;
	}
.additem-wrap .additem{
	margin-top:20px;
	overflow: hidden;
	}
.additem-wrap .additem .close-1{
	float: left;
	margin-top: 5px;
}
/*门店设置*/
.set-time{
	position:relative;
	padding:8px 0;
	width:60%;
	color:#909090;
	}
.set-time .close-1{
	position:absolute;
	top:8px;
	right:300px;
	display:none;
	}
.has-time{
	color:#555;
}
.has-time:hover .close-1{
	display:block;
	}
/*排队设置*/
.queue-operation{
	position:relative;
	padding:0 20px 20px 56px;
	}
.queue-operation a{
	position:absolute;
	z-index:10;
	margin-left:20px;
	}
.queue-operation a.addQueue{
	top:-40px;
	right:20px;
	color:#444;
	}
.queue-operation a.editQueue,.queue-operation a.delQueue{
	top:70px;
}
.queue-operation a.editQueue{
	right:100px;
}
.queue-operation a.delQueue{
	right:50px;
}
.queue-title{
	padding:30px 0 10px 20px;
	}
.queue-items{
	margin:0 60px;
	}
.queue-items li{
	display:inline-block;
	margin-top:10px;
	width:33%;
	white-space:nowrap;
	overflow:hidden;
	color:#999;
	text-overflow:ellipsis;
	}
.switching-item .hta{
	height:auto;
	}
.panel-popover .switching-item{
	margin-right:61px;
	margin-left:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	}
.panel-popover .switching-tab{
	left:0;
	}
.panel-popover .tables-items li{
	width:48%;
	}
.panel-popover .tables-items li em{
	vertical-align:middle;
	}
.panel-popover .tables-items li i{
	width:78%;
	}
.queue-con-tables{
	border:1px solid #ddd;
	border-radius:5px;
	height:260px;
	width:718px;
	padding:15px;
	overflow-y:auto;
}
.queue-con-tables > dl > dt{
	margin:10px 0;
	font-weight:normal;
}
.queue-con-tables > dl > dd{
	padding-left:2em;
}
#speechSet .input-group-inset{width:620px;}*/