.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle{
    padding-top: 12px;
}
input.search{
    display: inline-block;
    width: 300px;
}
a.btn{
    margin-top: -3px;
}
select.search-type{
    display: inline-block;
    width: 120px;
}